@font-face {
  font-family: __em__;
  src: url(./em.woff2) format('woff2'),
       url(./em.woff) format('woff'),
       url(./em.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
